@import "tailwindcss";

:root {
  --background: #f6efe4; /* bgLight */
  --foreground: #4a2e15; /* textBrown */

  /* landing page brand colors */
  --primary: #d6a74a;
  --primary-dark: #b8862b;
  --bg-cream: #fff8ec;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-bg-light: #f6efe4;
  --color-bg-cream: var(--bg-cream);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


